body {
    text-align: center;
    background-color: #f4f4f4;
    padding: 2rem;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

textarea {
    margin-bottom: 10px;
}

.btn-group-vertical {
    margin-top: -8.4%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: auto;
    width: 15%;
}

.entry {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 40%;
    transition: box-shadow 0.1s linear;
}

.entry:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.28);
}

@media (max-width: 768px) {
    .entry {
        width: 90%;
        margin-left: 5%;
    }
    
    .btn-group-vertical {
        width: 30%;
        margin-left: auto;
    }
}

#add-entry {
    float: right;
    margin-top: 90vh;
}

.alert {
    margin-top: 20px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

#entry-history {
    display: flex;
    flex-direction: column;
    align-items: center;
}